.logo{
    position: absolute;
    height: 82px;
    margin-top: -9px;
}

.logoText{
    margin-left: 95px;
    font-family: 'Oswald', sans-serif;
}

  html { height: 100%; }
  body { height: 100%; margin: 0; padding: 0 }
  #map-canvas { height: 100%; margin-top: 56px; }

.font{
    font-family: 'Oswald', sans-serif;
}

.container-center {
     position: relative;
     height: 14rem;
 }

.center-box {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.box-top{
    margin-top: 300px;
}